---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Services from "../sections/Services.astro";
import Technology from "../sections/Technology.astro";
import CaseStudies from "../sections/CaseStudies.astro";
import About from "../sections/About.astro";
---

<Layout title="DOMO Frontend Challenge">
  <main>
    <Hero />
    <Services />
    <Technology />
    <CaseStudies />
    <About />
  </main>
</Layout>

<style>
  .prueba {
    background: blue;
  }
</style>
