---
const { href } = Astro.props;
---

<a href={href} class="btn btn-secondary fw-medium d-flex justify-content-center align-items-center">
  <span class="d-flex align-items-center gap-2">
    <slot />
  </span>
</a>

<style>
  .btn {
    --bs-btn-font-size: 12px;
    --bs-btn-line-height: none;
    --bs-btn-padding-x: 24px;
  }

  .btn-secondary {
    --bs-btn-color: rgba(248, 249, 250, 0.7);
    --bs-btn-border-color: #6c757d;
    --bs-btn-bg: transparent;
  }
</style>
